body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* BUTTON */
.btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;

  font-size: 1.2rem;
  white-space: nowrap;
}
.btn_default {
  background-color: #e2e2e2;
  color: black;
}
.btn_positive {
  background-color: #65c963;
  color: #fff;
}
.btn_negative {
  background-color: red;
  color: #fff;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head_title {
  font-size: 2rem;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #e2e2e2;
  color: red;
  margin: 0;
}

/* DATE */
.date_wrapper {
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
}
.date_btn_left {
  /* width: 25%; */
  justify-content: start;
}
.date_btn_right {
  /* width: 25%; */
  justify-content: end;
}
.date_text {
  /* width: 50%; */
  font-size: 20px;
  justify-content: center;
}

/* TodoList */
.TodoList .menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.TodoList .right_col .btn {
  margin-right: 10px;
}
.TodoList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e2e2e2;
  padding: 6px 14px;
  cursor: pointer;
  font-size: 14px;
}

/* TodoItem */
.TodoItem {
  display: flex;
  margin: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e2e2e2;
}
.TodoItem .info_wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.TodoItem .info__date {
  width: 60px;
  text-align: center;
  height: 20px;
  font-size: 10px;
  /* color: #c0c0c0; */
  color: #808080;
  /* background-color: #c0c0c0; */
  border-radius: 2px;
}
.TodoItem .info__content {
  display: flex;
  align-items: center;
}
.TodoItem .priority {
  background-color: #e2e2e2;
  font-size: 16px;
  padding: 4px 12px;
  border-radius: 6px;
  box-sizing: border-box;
  margin-right: 6px;
}

.TodoItem .priority_1 {
  background-color: #ff9999;
}
.TodoItem .priority_2 {
  background-color: #ffe5cc;
}
.TodoItem .priority_3 {
  background-color: #e5ffcc;
}

/* TodoEditor */
.TodoEditor {
  display: flex;
  flex-direction: column;
  padding: 16px 10px;
}
.TodoEditor .test {
  display: flex;
  justify-content: space-between;
}
.TodoEditor .editor_box {
  display: flex;
  margin-bottom: 10px;
}
.TodoEditor .editor_box .editor_date {
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 10px 8px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 8px;
}
.TodoEditor .editor_btn {
  display: flex;
  justify-content: end;
}
.TodoEditor .priority_box {
  display: flex;
  gap: 10px;
}
.TodoEditor .editor_text {
  padding: 10px 6px;
  border-radius: 5px;
}
.TodoEditor .Control_box {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 20px;
}

/* PriorityItem */
.PriorityItem {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.PriorityItem_on_1 {
  background-color: #ff9999;
  font-weight: bold;
}
.PriorityItem_on_2 {
  background-color: #ffe5cc;
  font-weight: bold;
}
.PriorityItem_on_3 {
  background-color: #e5ffcc;
  font-weight: bold;
}
.PriorityItem_off {
  background-color: #ececec;
}
